:root {
    --base-padding: 2.5em;
    --double-padding: 5em;
    --triple-padding: 7.5em;
    --sub-padding: calc(var(--base-padding)/2);
    --gradient: linear-gradient(180deg, #4E256E 0%, #311633 50%, #0C0C12 100%);
    --main-accent: #DA9775;
    --main-accent-variant: #9f6649;
    --menu: rgba(217, 217, 217, 0.06);
    --menu-focus: rgba(217, 217, 217, 0.3);
    --secondary-accent: #896B9B;
    --border-radius: 1em;
    --little-b-radius: 0.5em;
    scrollbar-color: var(--secondary-accent) #311633;
}

* {
    margin: 0;
    padding: 0;
}

/** ------- COMMON -------- */

body {
    background-image: var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow-x: hidden;
}

main {
    padding-top: var(--base-padding);
    margin: 0 var(--triple-padding);
    transition: 0.5s;
}

.main_open {
    margin: 0 var(--base-padding);
    transition: 0.5s;
}

.button {
    background-color: var(--main-accent);
    font-size: 1rem;
    color: black;
    cursor: pointer;
    border: none;
    padding: 0.5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
    height: 2.5em;
    width: 3em;
    text-align: center;
    border-radius: var(--little-b-radius);
}


/**------------ GRID -------**/

.container_home {
    margin: 0 var(--double-padding);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 4em 1fr;
    gap: var(--base-padding);
    grid-template-areas:
        "nav nav nav"
        "left-nav main right-nav"
        "footer footer footer";

    @media only screen and (max-width: 1440px) {
        grid-template-columns: 20% 1fr 20%;
        margin: 0 var(--base-padding);
    }
}

.container_home_open {
    grid-template-columns: 15% 1fr 30%;
    transition: 0.5s;

    @media only screen and (max-width: 1440px) {
        grid-template-columns: 20% 1fr 25%;
        margin: 0 var(--base-padding);
    }
}

.grid_nav {
    grid-area: nav;
}

.grid_aside_left {
    grid-area: left-nav;
}

.grid_main {
    grid-area: main;
}

.grid_aside_right {
    grid-area: right-nav;
}

.grid_footer {
    grid-area: footer;
}


/**------------ NAV ---------**/

nav {
    height: 100%;
}

.navbar {
    font-size: 1.2em;
    padding-bottom: 0;
}

.navbar,
.navbar a,
.navbar img {
    flex: 15%;
    height: 100%;
    justify-content: flex-end
}

.navbar div {
    flex: 15%;
}

.navbar_search {
    flex: 70%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--triple-padding);
}


input[name="buscadorArticle"] {
    width: 95%;
}

/** ----------- sidebar ------- **/

.nav-link:hover {
    background-color: var(--secondary-accent);
    color: black;
    transition: background-color 0.3s ease;
    border-radius: var(--little-b-radius);
}

.nav-item.nav-selected {
    background-color: var(--main-accent-variant);
    color: black;
    border-radius: var(--little-b-radius);
}

.aside_left {
    position: sticky;
    top: var(--base-padding);
    background-color: var(--menu);
    margin-top: var(--base-padding);
    padding-top: var(--base-padding);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid var(--secondary-accent);
    border-radius: var(--border-radius);
    list-style: none;
}

.nav-link {
    margin-left: var(--sub-padding);
    display: flex;
    flex-direction: row;
}

.aside-link {
    text-decoration: none;
}

.sub-items {
    list-style: circle;
    display: none;
}

.aside_grup:hover .sub-items {
    display: block;
}


/**------------ POCIONS ----------**/

/*** contenidor ***/
.home_main {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.hm_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hm_menu .icons {
    display: flex;
    flex-direction: row;
    gap: var(--base-padding);
}

.hm_menu a {
    color: var(--main-accent-variant);
}


/** cards **/

.cards_container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    margin: var(--base-padding) 0 var(--base-padding) 0;
    justify-content: space-between;
    row-gap: var(--base-padding);
}

.grid_card {
    height: 100%;
    width: 100%;
}

.article_card {
    aspect-ratio: 1/1;
    color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    outline-offset: 5px;
    cursor: pointer;
    border-radius: var(--little-b-radius);
    width: 100%;
    outline: 3px solid var(--main-accent);
    transition: 0.5s;
}

.article_card:hover {
    filter: drop-shadow(1px 1px 10px var(--main-accent-variant));
    transform: scale(1.2);

    .ac_banner {
        display: block;
        transition: 0.5s;
    }
}

.ac_banner {
    display: none;
}

.a_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/** PAGINATION **/

section.pages {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}


/** aside articles **/
.aside_right {
    position: sticky;
    top: var(--base-padding);
    width: 0%;
    background-color: var(--menu);
    translate: 800px 0;
    min-height: 50%;
    border-radius: var(--border-radius);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--sub-padding);
    margin-top: var(--base-padding);
}

.aside_right_visible {
    width: 100%;
    translate: 0 0;
    border: 1px solid var(--secondary-accent);
    transition: 0.5s;
}

.aside_right>div {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.aside_right img {
    width: 100%;
    height: auto;
}

.divider {
    border: 1px solid var(--secondary-accent);
    height: 1px;
    width: 90%;
}

.ar_header,
.ar_body {
    flex-direction: column;
}

.ar_header span {
    color: var(--main-accent);
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;
}

.ar_user {
    font-style: italic;
    color: var(--secondary-accent);
    align-self: flex-end;
}

#ar_edit:hover {
    background-color: #d6b255;
}

#ar_delete:hover {
    background-color: #c95b5b;
}

#ar_clone:hover {
    background-color: #a97abb;
}

/** modal qr **/

#modal-qr {
    width: 300px;
    height: 300px;
    background-image: url('../img/gui/fake-qr.png');
    background-size: contain;
}

/**------ about----------**/

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--base-padding);
}

.about section {
    border: 1px solid var(--secondary-accent);
    border-radius: var(--border-radius);
    padding: var(--base-padding);
}

.about .materials .buttons {
    display: flex;
    gap: var(--base-padding);
    flex-direction: row;
    justify-content: space-between;
}

.materials .button {
    width: auto;
}


/**--------- forms -------------**/
.main_login {
    height: 100%;
}

.form_section,
.form_section_h {
    height: 100%;
    background-color: var(--menu);
    display: flex;
    gap: var(--sub-padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-accent);
    padding: var(--double-padding) var(--double-padding);
    justify-content: space-between;

    @media only screen and (max-width: 1440px) {
        padding: var(--base-padding) var(--double-padding);

    }
}

.form_section {
    flex-direction: column;
}

.form_section_h {
    flex-direction: row;
}

.form_section_h img {
    width: 50%;
    height: auto;
}

.form_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sub-padding);
}

.form-group {
    width: 100%;
}

.form_section .button {
    width: 100%;
}

.form_section a:not(.button) {
    color: var(--secondary-accent);
    text-decoration: underline;
}

.form_social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--sub-padding);
}

.form-group:has(.checkbox) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input.form-control,
textarea.form-control {
    background-color: var(--menu);
    border: 1px solid var(--secondary-accent);
}

input,
::placeholder,
textarea {
    color: white !important;
}

::placeholder {
    font-style: italic;
    opacity: 0.5 !important;
}

input.form-control:focus,
textarea.form-control:focus {
    background-color: var(--menu-focus);
    border: 1px solid var(--main-accent);
    outline: 1px solid var(--main-accent);
    box-shadow: none;
}

input[type=checkbox] {
    display: none;
}

label.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.checkbox-container {
    height: 1em;
    width: 1em;
    background-color: var(--menu);
    border: 1px solid var(--secondary-accent);
    border-radius: 0.1em;
}

label input:checked~.checkbox-container {
    background-color: var(--main-accent);
}

/* Checkmark */
.checkbox-container::after {
    content: "";
    display: none;
    width: 0.5em;
    height: 0.7em;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

label input:checked~.checkbox-container::after {
    display: block;
}

.hstack {
    gap: var(--base-padding);
}

.form_section.article {
    padding: var(--base-padding) var(--double-padding);
}

/**---------- FOOTER ---------**/

footer {
    width: 100vw;
    position: relative;
    left: calc(var(--double-padding) * -1);
    display: flex;
    align-items: center;
    padding: var(--base-padding) var(--double-padding) 0 var(--double-padding);
    background-color: var(--menu);
    color: white;
    border-top: 1px solid var(--secondary-accent);
    justify-content: space-around;
}

footer ul {
    list-style: none;
}

footer>ul {
    display: flex;
    padding: 0 var(--double-padding);
    gap: var(--base-padding);
    list-style: none;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
}

footer a {
    color: var(--secondary-accent);
}

footer a:hover {
    color: var(--main-accent);
}

a+ul a{
    text-decoration: none;
}


/**---------- ALERTES -----------**/

.alert {
    color: white;
    position: absolute;
    right: 40%;
    top: 10%;
    max-width: 20%;
    max-height: 30%;
    z-index: 7;
    backdrop-filter: blur(10px);
}

.alert-success {
    background-color: rgba(112, 199, 125, 0.5);
    box-shadow: 2px 10px 10px #2f844e;
}

.alert-error {
    background-color: rgba(199, 112, 112, 0.5);
    box-shadow: 2px 10px 10px #842f2f;
}

.alert-success::before,
.alert-error::before {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: -25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-success::before {
    content: '✔';
    background-color: green;
    border: 1px solid rgb(186, 248, 186);
}

.alert-error::before {
    content: '❗';
    background-color: rgb(194, 32, 32);
    border: 1px solid rgb(248, 186, 186);
}

.modal {
    color: white;
}

.modal-content {
    background-color: var(--menu-focus);
    border: 1px solid var(--secondary-accent);
    border-radius: var(--border-radius);
    backdrop-filter: blur(10px);
}

#alerta_miss {
    opacity: 0;
    animation: fadeInOut 2.5s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }
}

/** ------ EXTRA ------ **/
/* Han d'estar al final per no ser reemplazades per altres */

.hidden {
    display: none;
}

.visible {
    display: block;
}

.no-opacity {
    opacity: 0;
}

.unselectable {
    pointer-events: none;
}