:root {
    --base-padding: 2.5em;
    --sub-padding: calc(var(--base-padding)/2);
    --main-accent: #DA9775;
    --menu: rgba(217, 217, 217, 0.06);
    --secondary-accent: #896B9B;
    --border-radius: 1em;
    --little-b-radius: 0.5em;
}

* {
    margin: 0;
    padding: 0
}

body {
    background-image: linear-gradient(180deg, #4E256E 0%, #311633 50%, #0C0C12 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


/****** Container ******/

.container_home {
    padding-left: var(--base-padding);
    padding-right: var(--base-padding);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 4em 1fr 4em;
    grid-template-areas:
        "nav nav nav"
        "left-nav main right-nav"
        "footer footer footer";
}

.grid_aside_left {
    grid-area: left-nav;
}

.grid_main {
    grid-area: main;
}

.grid_aside_right {
    grid-area: right-nav;
}

.grid_footer {
    grid-area: footer;
}

.aside_left {
    min-height: 100%;
}

.home_main {
    gap: 2em;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: var(--main-accent);
    font-size: 1rem;
    color: black;
    cursor: pointer;
    border: none;
    padding: 0.5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
    height: 2.5em;
    width: 3em;
    text-align: center;
    border-radius: var(--border-radius)
}

.button-lil {
    border-radius: var(--little-b-radius);
}

/* .aside_right {
   
} */

/********* NAV *******/

.grid_nav {
    grid-area: nav;
}

nav {
    height: 100%;
}

.navbar {
    font-size: 1.2em;
    padding-bottom: 0;
}

.navbar,
.navbar a,
.navbar img {
    height: 100%;
}

.nav-link:hover {
    background-color: aqua;
    color: black;
}

.nav-item.nav-selected {
    background-color: blue;
}

.navbar_search {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[name="buscadorArticle"] {
    background-color: var(--menu);
    width: 90%;
}

/*** sidebar ***/

.aside_left {
    background-color: var(--menu);
    margin-top: var(--base-padding);
    padding-top: var(--base-padding);
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid var(--secondary-accent);
    border-radius: var(--border-radius);
    list-style: none;
}

.nav-link {
    margin-left: var(--sub-padding);
    display: flex;
    flex-direction: row;
}

.aside-link {
    text-decoration: none;

}

.sub-items {
    list-style: circle;
}



/**------------ POCIONS ----------**/

/**cards**/

.cards_container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    row-gap: 1em;
}

.grid_card {
    height: 100%;
    width: 100%;
}

.article_card {
    aspect-ratio: 1/1;
    text-wrap: wrap;
    color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    outline-offset: 5px;
    cursor: pointer;
    max-width: 80%;
}

.ac_outline_evocation {
    outline: 3px solid rgb(0, 251, 255);
    transition: 0.5s;
}

.ac_outline_evocation:hover {
    outline: 3px solid rgb(0, 251, 255);
    filter: drop-shadow(1px 1px 10px #4444dd);
    transform: scale(1.2);
}

/* .ac_outline_mal {
    outline: 3px solid red;
    filter: drop-shadow(5px 5px 10px #dd2266); 
}

.ac_outline_nigrom {
    outline: 3px solid green;
} */


/********* PAGINATION *******/

section.pages {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}


/******* login *******/
/* .login_main {
    min-height: 90%;
} */



/************** FORM **********/

main:has(form.articleForm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articleForm_form-text {
    color: white;
    margin-top: .25rem;
    font-size: .875em;
}


.articleForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}


/********** ALERTES *******/
.alert {
    color: white;
    position: absolute;
    right: 40%;
    top: 10%;
    max-width: 20%;
    max-height: 30%;
    z-index: 7;
    backdrop-filter: blur(10px);
}

.hidden {
    display: none;
}

.alert-success {
    background-color: rgba(112, 199, 125, 0.5);
    box-shadow: 2px 10px 10px #2f844e;
}

.alert-error {
    background-color: rgba(199, 112, 112, 0.5);
    box-shadow: 2px 10px 10px #842f2f;
}

.alert-success::before,
.alert-error::before {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: -25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-success::before {
    content: '✔';
    background-color: green;
    border: 1px solid rgb(186, 248, 186);
}

.alert-error::before {
    content: '❗';
    background-color: rgb(194, 32, 32);
    border: 1px solid rgb(248, 186, 186);
}

.modal {
    color: black;
}

#alerta_miss {
    opacity: 0;
    animation: fadeInOut 3.5s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }
}